@font-face {
  font-family: 'ResoBold';
  src: url('resobold_woff.woff');
}

::selection {
  background: transparent;
}

* {
  pointer-events: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin: 0;
  font-size: 15px;
}

a {
  text-decoration: none;
}

ul {
  padding-inline-start: 0;
  list-style-type: none;
}

label {
  text-transform: uppercase;
}

input {

  pointer-events: all;

  &[type="time"] {
    border: solid 2px #FFB81C;
    border-radius: 2px;
    padding: 3px 0;
    outline: none;
    pointer-events: all;
  }

  &[type="checkbox"] {
    height: 20px;
    width: 20px;
  }

}

.button {
  pointer-events: all;
  cursor: pointer;
  padding: 11px 14.5px;
  color: #3f423e;
  font-size: 16px;
  font-weight: bold;
  background: #FFB81C;
  border-radius: 4.8px;
  font-family: ResoBold, sans-serif;

  &.scan {
    margin-top: 15px;
    font-size: 18px;
  }
}

#main {
  width: 400px;
  height: 600px;
  position: relative;
  background-color: #262626;

  .background {
    position: absolute;
    height: 100%;
    width: 100%;

    .logo {
      width: 130px;
      display: block;
      margin: 0 auto;
      padding: 20px;
    }

    .banner,
    .network {
      position: absolute;
      transform: scaleY(-1);
      width: 100%;
      bottom: 0;
      left: 0;
    }
  }

  .welcomeOverlay {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 90px;

    .instructionsMessage {
      margin-top: 30px;
    }
  }

  .wtcOverlay {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 90px auto 0;
    width: 90%;

    .hoursColumn {
      border-right: solid 2px #FFB81C;
    }

    .hoursColumn,
    .daysColumn {
      width: 48%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      ul {
        width: 98%;
        li {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 15px;
          
          label {
            min-width: 60px;
          }
        }
      }

    }
    
    .buttonsRow {
      width: 100%;
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
      border-top: solid 2px #FFB81C;
    }
  }
}