@font-face {
  font-family: 'Billgates';
  src: url("../fonts/Billgates.ttf");
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

* {
  pointer-events: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin: 0;
  font-size: 15px;
}

a {
  text-decoration: none;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
}

label {
  text-transform: uppercase;
}

input {
  pointer-events: all;
}

input[type="time"] {
  border: solid 2px #FFB81C;
  border-radius: 2px;
  font-size: 15px;
  outline: none;
  pointer-events: all;
  font-weight: bold;
}

input[type="time"][disabled] {
  opacity: 0.7;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

.button {
  pointer-events: all;
  cursor: pointer;
  padding: 7px 12px;
  color: #3f423e;
  font-weight: bold;
  text-transform: uppercase;
  background: #FFB81C;
  border-radius: 2px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.button:hover {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background-color: #e89f00;
}

.button[name=scan] {
  margin-top: 15px;
}

#main {
  width: 400px;
  height: 600px;
  position: relative;
  background-color: #262626;
}

#main .background {
  position: absolute;
  height: 100%;
  width: 100%;
}

#main .background .logo {
  width: 130px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

#main .background .banner,
#main .background .network {
  position: absolute;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  width: 100%;
  bottom: 0;
  left: 0;
}

#main .welcomeOverlay {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 90px;
}

#main .welcomeOverlay .instructionsMessage {
  margin-top: 30px;
}

#main .wtcOverlay {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 90px auto 0;
  width: 90%;
}

#main .wtcOverlay .hoursColumn {
  width: 55%;
}

#main .wtcOverlay .daysColumn {
  width: 38%;
}

#main .wtcOverlay .hoursColumn,
#main .wtcOverlay .daysColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main .wtcOverlay .hoursColumn ul,
#main .wtcOverlay .daysColumn ul {
  width: 98%;
}

#main .wtcOverlay .hoursColumn ul li,
#main .wtcOverlay .daysColumn ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

#main .wtcOverlay .buttonsRow {
  width: 100%;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: solid 2px #FFB81C;
}
/*# sourceMappingURL=main.css.map */